/* HEADER */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    font-size: 18px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    list-style: none;
}

.header__links-list-item_no-bullit::marker {
    content: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    display: block;
    width: 148px;
    justify-self: center;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
}

.address {
    font-style: normal;
    line-height: 1.35;
}

/* COVER */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 135px;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    line-height: 1;
}

.aligned-text_center {
    text-align: center;
    padding-right: 60px;
}

.aligned-text_right {
    text-align: right;
    padding-right: 30px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid currentColor;
    background: transparent;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

/* LOTS */
.lots {
    margin-top: 180px;
    margin-right: 20px;
    margin-left: 20px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.lots__card-list-item {
    flex: 1;
    width: 334px;
    height: 596px;
}


.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    z-index: 1;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

/* ABOUT */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 90px;
    font-size: 18px;
}

.footer .address {
    justify-self: start;
    line-height: 1.35;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
}