
/* head */

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    height: 293px;
}

.header_menu {
    justify-self: start;
}


.header__links-list {
    list-style: none;
    display: flex;
    gap: 27px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
    position: relative;
}

.header__link {
    font-size: 18px;
    white-space: nowrap;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
}

.header__logo-image {
    display: block;
    height: 105px;
}

.address {
    width: 240px;
    justify-self: end;
    text-align: left;
    font-style: normal;
    line-height: 1.4;
    font-size: 18px;
}

.address a {
    white-space: nowrap;
}

/* covr */

.cover {
    position: relative;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 180px;
    padding-bottom: 50px;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 0.69;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 30px;
    z-index: 2;
    width: 100%;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    display: block;
    padding-left: 330px;
}

.aligned-text_right {
    display: block;
    padding-left: 613px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    width: 60%;
    word-spacing: 18.5px;
    white-space: nowrap;
}

.bet-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    cursor: pointer;
    white-space: nowrap;
}

/* -loti */

.lots {
    margin-top: 180px;
    margin-right: 20px;
    margin-left: 20px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.lots__card-list-item {
    flex: 1;
    width: 334px;
    height: 596px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 480px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
}

.card_type_film {
     background-image: url("/images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("/images/card-lot-02.jpg");
}

.card_type_picture {
     background-image: url("/images/card-lot-03.jpg");
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
    margin-top: auto;
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

.lots__more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 18px;
    text-decoration: underline;
    color: #000;
}

/* someshi */

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    margin-top: 120px;
    margin-right: 24px;
    margin-left: 24px;
}

.about_column {
    margin-top: 35px;
}

.about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    margin-top: 35px;
    margin-left: 47px;
}

.about__logo-image {
    width: 148px;
    height: 100%;
    margin-left: 46px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 136px;
    width: 291px;;
}

.about__text p {
    font-size: 20px;
    line-height: 24px;
    margin-right: 5px;
}

.about__text-first {
    margin-top: 100px;
}

.about__text-second {
    margin-top: 24px;
}

/* foot */

.footer {
    display: grid;
    grid-template-columns: 334px 1fr 334px;
    align-items: start;
    margin-top: 180px;
    height: 180px;
}

.footer__address {
    text-align: left;
    font-style: normal;
    line-height: 1.4;
    font-size: 18px;
}

.address__link {
    color: inherit;
    text-decoration: underline;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.footer__menu-link {
    color: inherit;
    text-decoration: underline;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    padding-right: 50px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 50%;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
